* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.limitar-secao {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Estilização Topo */
.topo {
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.container-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  color: #3d3d3d;
}

.container-link-logotipo {
  flex: 1 0 60%;
}

.container-link-logotipo a {
  font-size: 24px;
  text-decoration: none;
  color: #3d3d3d;
}

.container-link-logotipo span {
  color: #6592c9;
}

.container-links {
  flex: 1 0 150px;
  display: flex;
  justify-content: space-between;
}

.link-topo {
  text-decoration: none;
  color: #3d3d3d;
}

/* Banner */

.banner {
  width: 100%;
  height: 40vh;
  padding: 0 20px;
  background-image: url(../Pousada-Web/Assets/img-fundo.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-titulo-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  font-size: 28px;
  color: #fff;
  background-color: #0a9077b3;
  border: 1px solid #fff;
  border-radius: 4px;
  text-align: center;
}

/* Estilização do Conteúdo Principal */

.container-descricao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-descricao h2 {
  font-size: 32px;
  font-weight: 500;
}

.secao-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 100px 20px;
  text-align: center;
}

.secao-container h2{
  font-size: 32px;
  font-weight: 500;
}

.container-quartos {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.quarto {
  flex: 1 0 250px;
  text-decoration: none;
  color: #3d3d3d;
  padding-bottom: 10px;
  border-bottom: 2px solid #00836a;
}

.quarto img {
  width: 100%;
  height: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.informacao {
  width: 100%;
  background-color: #776c6c0e;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 5px;
}

.lista-informacoes {
  padding: 20px 30px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.informacao h3 {
  font-size: 23px;
  padding-bottom: 10px;
  text-align: center;
}

/* Estilização do rodapé */
.rodape {
  background-color: #49997d;
  color:#fff;
}

.container-info {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card-info-rodape {
  flex: 1 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info-rodape h4 {
  font-size: 22px;
}

.card-info-rodape a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.card-info-rodape p {
  margin-left: 10px;
}

.card-info-rodape img {
  width: 40px;
  height: 40px;
}

.container-copright {
  padding: 20px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #3b7863;
}